:root {
  --background-color: #fffcf9;
  --font-color: #292f36;
  --acceent-color: #ff8550;
}

body {
  font-family: 'Comic Mono', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: 30px;
}

.header {
  display: flex;
  margin-bottom: 25px;
}

.prompt {
  color: var(--acceent-color);
  margin-right: 0.5em;;
}

.command {
  position: relative;
  width: max-content;
}

.command::before,
.command::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.command::before {
  background: var(--background-color);
  animation: 
    typing 1s steps(15) 0.8s forwards;
}

.command::after {
  width: 0.125em;
  background: var(--font-color);
  animation: 
    typing 1s steps(15) 0.8s forwards,
    cursor 750ms steps(15) infinite;
}

@keyframes typing {
  to {
    left: 100%;
  }
}

@keyframes cursor {
  to {
    background: transparent;
  }
}

.contents {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fadein 500ms 2.0s forwards;
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

.contents a {
  margin-bottom: 0.5em;
  text-decoration: none;
  color: var(--font-color);
} 

.contents a:hover {
  color: var(--acceent-color);
}
