body {
  font-family: 'Comic Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #fffcf9;
  color: #292f36;
  font-size: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  margin-bottom: 25px;
}

.prompt {
  color: #FF8550;
  margin-right: 0.5em;;
}

.command {
  position: relative;
  width: max-content;
}

.command::before,
.command::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.command::before {
  background: #fffcf9;
  animation: typing 1s steps(15) 0.8s forwards;
}

.command::after {
  width: 0.125em;
  background: black;
  animation: typing 1s steps(15) 0.8s forwards,
    cursor 750ms steps(15) infinite;
}

@keyframes typing {
  to {
    left: 100%;
  }
}

@keyframes cursor {
  to {
    background: transparent;
  }
}

.contents {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 277px;
  opacity: 0;
  animation: fadein 500ms 2.0s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contents a {
  margin-bottom: 0.5em;
  color: #292f36;
  text-decoration: none;
} 

.contents a:hover {
  color: #FF8550;
}
