body {
    font-family: 'Zen Maru Gothic', sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    background-color: #FBFBFF;
    color: #12355B;
}

.content {
    text-align: center;
}

.header {
    font-size: large;
    padding-bottom: 25px;
}

.inline {
    padding-bottom: 25px
}

.inline li {
    display: inline-block;
    padding-right: 3px;
}
a {
    color: #12355B;
} 

a:hover {
    color: #FF8552;
}

.footer {
    font-size: small;
}

